@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


.flex {display: flex;}
.flex-row {flex-direction: row;}
.flex-col {flex-direction: column;}
.flex-wrap {flex-wrap: wrap;}

.justify-center {justify-content: center;}
.justify-start {justify-content: flex-start;}
.justify-end {justify-content: flex-end;}
.justify-between {justify-content: space-between;}
.justify-around {justify-content: space-around;}

.items-center {align-items: center;}
.items-start {align-items: flex-start;}
.items-end {align-items: flex-end;}
.items-stretch {align-items: stretch;}

.bg-black {background-color: #000;}
.bg-white {background-color: #fff;}
.bg-gray-100 {background-color: #f7fafc;}
.bg-gray-200 {background-color: #edf2f7;}
.bg-gray-300 {background-color: #e2e8f0;}
.bg-gray-400 {background-color: #cbd5e0;}
.bg-gray-500 {background-color: #a0aec0;}
.bg-gray-600 {background-color: #718096;}
.bg-gray-700 {background-color: #4a5568;}
.bg-gray-800 {background-color: #2d3748;}
.bg-gray-900 {background-color: #1a202c;}

.text-black {color: #000;}
.text-white {color: #fff;}

.font-bold {font-weight: bold;}
.font-normal {font-weight: normal;}


body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}


p {
    font-weight: normal;
    font-size:15px;
}

a {
    font-weight: bold;
    color: #1DB954;
}

.navbar-container{
    background-color: 	#1DB954;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

button {
    color: black;
    background-color: #cccccc;
    display: inline;
    margin: 1vh 1vw;
    padding: 2vh 2vw;
    border-radius: 10px;
    border: 0px solid black;
    font-family: 'Montserrat';
    transition-duration: 0.4s;
}

button:hover{
    font-weight: bold;
    transition-duration: 0.2s;
    box-shadow: 1px -1px 31px 0px rgba(0,0,0,0.1);}

button:active{
    background-color: #1DB954;
    color: white;
    transition-duration: 0.2s;
    box-shadow: 1px -1px 31px 0px #1DB954;
}

table{
    width: 100%;
    color: white;
}


tr {
    text-align: center;
}

tr:hover{
    background-color:rgb(61, 61, 61);
    transition-duration:0.2s;
    border-radius: 10px;
}

th, td{
    padding-top: 1vh;
    padding-bottom: 2vh;
}

td{
    font-style: normal !important;
}

.centered-div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
    text-align: center;
    border-radius: 10px;
}
