.content {
  position: relative;
  margin-left: 250px;
  padding: 0 25px 50px 25px;
  background-color: #212121;
}

.content-header {
  padding: 20px 10px;
}

.see-all {
  font-size: 12px;
}

#searchbar {
  position: relative;
  width: 30vw;
  height: 36px;
  margin-right: 25vw;
}

.searchbar-input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  transition-duration: 0.3s;
}

.searchbar-input:focus {
  transition-duration: 0.3s;
  box-shadow: -1px 1px 43px -1px rgba(128, 128, 128, 0.63);
}

.searchbar-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 10px;
  color: #fff;
}

.username {
  margin: 0 10px;
  min-width: 5vw;
  text-align: right;
}

.user-img {
  width: 24px;
  height: 24px;
}

.container {
  height: 360px;
  padding: 10px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 300px;
  padding: 10px;
  background-color: #303030;
  border-radius: 10px;
  margin: 10px;
  transition-duration: 0.3s;
}

.card:hover {
  transition-duration: 3s;
  transition: ease-in-out;
  top: -5px;
  box-shadow: -1px 1px 43px -1px rgba(0, 0, 0, 0.63);
  background-color: #555555;
}

.card .overlayer {
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 40px;
  height: 40px;
  background-color: #1db954;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.card .overlayer .play-icon {
  width: 16px;
  height: 16px;
}

.card:hover .overlayer {
  visibility: visible;
}

.card:hover .overlayer:hover {
  background-color: #1ed760;
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: -1px 1px 43px -1px rgba(0, 0, 0, 0.63);
}

.card-title {
  font-weight: bold;
  margin: 20px 3px;
}

.card p {
  margin: 3px;
}

.card-desc {
  position: absolute;
  bottom: 10px;
  width: 160px;
}

.row {

  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  width: 97%;
  min-height: 60px;
  margin: 5px 0;
  border-radius: 5px;
}

.row:hover {
  top: -5px;
  box-shadow: -1px 1px 43px -1px rgba(0, 0, 0, 0.63);
  background-color: #555555;
}
.row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.row-img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.row-title {
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

.row-desc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.row-desc div {
  width: 100px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

/* .row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 97%;
  height: 10%;
  padding: 10px;
  background-color: #303030;
  border-radius: 10px;
  margin: 10px;
  transition-duration: 0.3s;
}

.row-album-detail {
  min-width: 87% ;
}

.row-img {
  max-width: 4%;
  max-height: 4%;
  object-fit: contain;
  border-radius: 5px;
}

.row-title {
  font-weight: bold;
  margin: 20px;
}

.row-desc {
  position: absolute;
  right: 0;
}
.row-desc div {
  display: inline-block;
  right: 0;
  margin-top: 20px;
  min-width: 8vw;
  font-weight: normal;
}

.row-p {
  font-size: 15px;
}

.row:hover {
  transition-duration: 0.3s;
  margin-top: -10px;
  margin-bottom: 20px;
  box-shadow: -1px 1px 43px -1px rgba(0, 0, 0, 0.63);
  background-color: #555555;
} */

.see-all:hover {
  font-weight: bold;
  transition-duration: 0.3s;
}

.row-container {
  display: flex;
  justify-content: flex-end;
  margin-left: -2vw;
}
