/* CSS for general usage */

/* Montserrat font (src: https://fonts.google.com/specimen/Montserrat?query=montserrat#styles) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}


p {
    font-weight: normal;
    font-size:15px;
}

a {
    font-weight: bold;
    color: #ededed;
}

.navbar-container{
    background-color: #1a1a1a;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

button {
    color: black;
    background-color: #f7f7f7;
    display: inline;
    margin: 1vh 1vw;
    padding: 2vh 2vw;
    border-radius: 10px;
    border: 0px solid black;
    font-family: 'Montserrat';
    transition-duration: 0.4s;
}

button:hover{
    font-weight: bold;
    transition-duration: 0.2s;
    box-shadow: 1px -1px 31px 0px rgba(255,255,255,0.75);
}

button:active{
    background-color: #00cc5f;
    color: white;
    transition-duration: 0.2s;
    box-shadow: 1px -1px 31px 0px #00cc5f;
}

table{
    width: 100%;
    color: white;
}


tr {
    text-align: center;
}

th, td{
    padding-top: 2vh;
}

.centered-div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
    text-align: center;
    border-radius: 10px;
}
