/* CSS for login and register page */ 
body, html {
    height: 100vh;
    padding: 0px;
}
  
 
.bg-image {
    background-image: url("../images/login-register-bg.jpg");
    filter: blur(12px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  

.centered-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    position: absolute;
    text-align: center;
    border-radius: 10px;
}

.inline-button {
    display: inline;
    width: 90%;
    font-size: 20px;
    letter-spacing: .2rem;
}

.form-element {
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.form-element > label{
    font-weight: normal;
    font-size: 20px;
}

.form-element > input {
    display: inline;
    width: 95%;
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    border: 0px solid black;
    border-radius: 10px;
}

#register-error-message, #login-error-message {
    color: #d6483e;
    font-size: 18px;
    font-weight: bold;
}