/* CSS for login and register page */ 
body, html {
    height: 100vh;
    padding: 0px;
}
  
 
.bg-image {
    background-color:white;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  

.centered-box {
    color: black;
    font-weight: bold;
    position: absolute;
    text-align: center;
    border-radius: 10px;
}

.inline-button {
    display: inline;
    width: 90%;
    font-size: 20px;
    letter-spacing: .2rem;
    border-radius: 30px;
}

.form-element {
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.form-element > label{
    font-weight: normal;
    font-size: 13px;
}

.form-element > input {
    display: inline;
    width: 95%;
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 15px;
    border: 0px solid black;
    border-radius: 6px;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
    transition-duration: 0.3s;
}

.form-element > input:focus{
    transition-duration: 0.3s;
    box-shadow: -1px 1px 10px -1px rgba(0,0,0,0.3);
}
#register-error-message, #login-error-message {
    color: #d6483e;
    font-size: 15px;
}

.login-href{
    color: #1db954;
    transition-duration: 0.3s;
}

.login-href:hover{
    text-decoration: underline;
    transition-duration: 0.3s;
}

.error-msg{
    font-weight: bold;
    font-size: 10px;
}

#logo {
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 15px 20px;
}

#form-header{
    margin-top: 60px;
    margin-bottom: 30px;
}