body {
    background: #212121;
}

.pagination-table {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    margin-left: 5vw;
    max-width: 70vw;
}

.search-pg{
    margin-top: 20px;
}

.user-list-pg{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    right: 8vw;
    top: 8vh;
}

.pagination-table > h1 {
    text-align: left;
}
#pagination-buttons {
    margin: 0 auto;
}

#pagination-buttons >button, p{
    display: inline;
    margin: 20px;
}

#pagination-msg {
    margin: 4vh auto;
    width: 100%;
    text-align: center;
}

.arrow{
    margin: 0;
    font-size:15px;
    font-weight: bold;
}

#pagination-table-header {
    margin: 4vh auto;
    width: 100%;
    text-align: right;
}

#headers{
    position: relative;
    right: 0;
    margin-right: 2vw;
}

#headers div {
    display: inline-block;
    text-align: left;
    min-width: 8vw;
    font-weight: normal;
}

