body {
  background: #212121;
}

.pagination-table {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  margin-left: 1vw;
  /* min-width: 75vw; */
}

#pagination-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#pagination-filters button,
#pagination-buttons button {
  background-color: white;
  min-width: 130px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#pagination-filters button:hover,
#pagination-buttons button:hover {
  /* font-weight: bold; */
  background-color: white;
  color: #1db954;
  transition-duration: 0.2s;
}

#pagination-filters button span {
  margin-left: 10px;
}

#pagination-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.search-pg {
  margin-top: 20px;
}

/* .user-list-pg {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  right: 8vw;
  top: 8vh;
} */

.pagination-table > h1 {
  text-align: left;
}

#pagination-header {
  text-align: start;
}

#pagination-msg {
  margin: 4vh auto;
  width: 100%;
  text-align: center;
}

#headers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3%;
}

#headers div {
  /* display: inline-block; */
  width: 100px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.user-list-table,
.header-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
}

.user-list-table:hover {
  background-color: white;
  color: #1db954;
}

.user-list-table:hover p {
  font-weight: bold;
}

.list-left {
  width: 100px;
}

.list-center {
  width: 100px;
}

.list-right {
  width: 150px;
}

.header-list {
  background-color: white;
  color: black;
  border-bottom: 2px solid #1db954;
  border-radius: 5px 5px 0 0;
}

.premium-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: transparent;
  margin: 5px 0;
  padding: 0 10px;
  border-radius: 4px;
  min-height: 56px;
  border-bottom: solid 1px #212121;
}

.premium-row:hover {
  background-color: rgba(48, 48, 48, 0.4);
  transition-duration: 0.2s;
}

.premium-row:hover .play-btn-small {
  visibility: visible;
}

.premium-row:hover .row-index-p {
  visibility: hidden;
}

.row-index {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.row-index-p {
  color: white;
  visibility: visible;
}

.active-play {
  background-color: rgba(48, 48, 48, 0.4);
}

.active-play .play-btn-small{
  visibility: visible;
}

.active-play .row-index-p{
  visibility: hidden;
}

.play-btn-small {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  visibility: hidden;
}

.play-btn-small:hover {
  background-color: rgba(29,185,84, 0.7);
  transition-duration: 0.2s;
}

.play-btn-small-icon {
  width: 16px;
  height: 16px;
}

.btn-subs {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(29,185,84, 0.7);
  color: white;
  cursor: pointer;
}

.btn-subs-rejected {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: #b91d1d ;
  color: white;
  cursor: pointer;
}

.btn-subs-rejected:active{
  background-color: #b91d1d;
  box-shadow: 1px -1px 10px 0px #b91d1d;
}