body {
  background-color: #212121;
}

.content {
  position: relative;
  margin-left: 250px;
  padding: 25px 25px 50px 25px;
  background-color: #212121;
}

.container > .content {
  display: block;
  padding: 25px 25px 10px 25px;
}

.song {
  margin-top: 50px;
}

.song-left {
  width: 50vw;
}

.details-title {
  width: 90vw;
}

.details-header {
  margin-top: -5vh;
}

.album-left {
  width: 30vw;
}

.song-img {
  width: 350px;
}

.album-img {
  height: 180px;
  width: fit-content;
}

.song-right p {
  font-size: 14px;
}

.song-right > p {
  display: block;
  margin: 15px 0;
}

.song-album {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}

.open-icon {
  width: 12px;
}

.song-btn {
  margin: 20px 5px;
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 100px;
  height: 36px;
}

.song-btn-text {
  margin-right: 10px;
}

.song-btn-img {
  width: 16px;
}

.hidden {
  display: none;
}

#edit-song-form label {
  font-size: 16px;
  width: 150px;
}

.edit-song-item {
  height: 30px;
  margin: 5px 0;
}

.edit-song-input {
  width: 30%;
  min-width: 200px;
  height: 30px;
  border-radius: 2px;
  padding: 0 5px;
}

.edit-song-input:focus {
  outline: none;
}

.edit-song-btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  margin: 20px 5px;
  padding: 5px 20px;
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  color: #fff;
}

#playcount-info {
  max-width: 20vw;
  position: absolute;
}

#modal-container {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 30vw;
  height: 20vh;
  min-height: 200px;
  z-index: 100;
  background-color: black;
  border-radius: 10px;
  z-index: 100;
  padding: 20px;
}

.modal-title {
  font-size: 20px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
