.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 25px;
}

.logo-img {
  position: relative;
  width: 70%;
}

.menu-item {
  margin: 10px 0 10px 20px;
}

.menu-item-icon {
  margin-right: 20px;
}

.create-playlist {
  margin-top: 45px;
}

.line {
  margin: 10px 0;
  border-bottom: 1px solid #fff;
}

.content {
  position: relative;
  margin-left: 250px;
  padding: 25px 25px 50px 25px;
  min-height: 100vh;
  background-color: #212121;
}

.song {
  margin-top: 50px;
}

.song-left {
  width: 50vw;
}

.song-img {
  width: 350px;
}

.song-right p {
  font-size: 14px;
}

.song-album {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}

.open-icon {
  width: 12px;
}

.song-btn {
  margin: 20px 5px;
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 100px;
  height: 36px;
}

.song-btn-text {
  margin-right: 10px;
}

.song-btn-img {
  width: 16px;
}

.hidden {
  display: none;
}

#edit-song-form label {
  font-size: 16px;
  width: 150px;
}

.edit-song-item {
  height: 30px;
  margin: 5px 0;
}

.edit-song-input {
  width: 30%;
  min-width: 200px;
  height: 30px;
  border-radius: 2px;
  padding: 0 5px;
}

.edit-song-input:focus {
  outline: none;
}

.edit-song-btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  margin: 20px 5px;
  padding: 5px 20px;
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  color: #fff;
}

#playcount-info {
  max-width: 20vw;
  position: absolute;
}
