body {
    background: #212121;
}

.pagination-table {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 58%;
    width: 70%;
}

.pagination-table > h1 {
    text-align: left;
    margin-left: 5vw;
}
.pagination-container {
    margin: 2vh 2vw;
}

.pagination-container > button, p{
    display: inline;
    margin: 20px;
}

